body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeholder {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
